@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.333);
}

html,body{
    width: 100%;
}

h1{
    font-size: 2.2rem;
}

h4{
    font-size: 1.3rem;
}
h5{
    font-size: 1.1rem;
}

h1,h2,h3,h4{
    font-weight: 600;
}

p{
    font-size: 0.8rem;
    font-weight: 300;
}

ul,li,a{
    color: white !important;
    font-size: 0.8rem;
    text-decoration: none !important;
    list-style-type: none !important;
}

/* HEADER */
.header{
    width: 100%;
    background-color: #0D1215;
    position: fixed;
    z-index: 1002;
}
/* END OF HEADER */

/* NAVBAR */
.nav-items-cont{
    display: flex;
    justify-content: space-between;
}
.nav-sec-items-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ham-cont{
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    display: none;
}
.ham-btn{
    background-color: #0D1215;
    color: white;
    border: none;
    padding: 0.02rem !important;
}
.menu-item,.sub-item{
    text-align: center;
    font-weight: 350; 
}

.down-arrow{
    margin-left: 2px !important;
    font-size: 0.7rem;
}

.menu-item:hover, .sub-item:hover{
    text-decoration: underline !important;
    color: white;
}

.navigation-items{
    display: flex;
    align-items: center;
}

.navigation-items>ul>li{
    display: inline-block;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
}

.submenu-container{
    width: 100%;
    height: auto;
    position: absolute;
    /* bottom: -44px; */
    left: 0;
    background-color: #444444;
    z-index: 1000;
    visibility:hidden;
    opacity: 0;
    transition: .4s opacity ease;

}

.navigation-items>ul>li:hover>a+.submenu-container{
    visibility:visible;
    opacity: 1;
}

.sub-list>ul>li{
    display: inline-block;
}

/* SEARCH */
.nav-search{
    max-width: 200px;
}
.nav-search > form > input{
    height: auto !important;
    padding: 0.2rem 0.5rem !important;
    margin-right: 0.3rem !important;
    font-size: 0.8rem;
}

.nav-search > form > button{
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem !important;
    background-color: #217b66;
    color: white;
    border: none !important;
    border-radius: 0.25rem;
}

.nav-search > form{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.nav-search > form > button:hover{

    background-color: #196654;
}
/* END OF SEARCH */
/* END OF NAVBAR */

/* HERO SECTION*/
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 100%;
    height:100vh;
    background: url(../images/hero_imagev5blue.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-p{
    line-height: 2em;
}
/* END OF HERO SEC */

/* TOC (TYPE OF CINEMA) */
.toc-title-container{
    position: absolute;
    text-align: left;
}

.red{
    background-color: #cf474a !important;
}

.brown{
    background-color: #836c46 !important;
}

.green{
    background-color: #25856e !important;
}

.toc-img-container{
    display: flex;
    justify-content: end;
    padding-bottom: 4rem !important;
    /* align-items: center; */
    width:100%;
    /* height: auto; */
    background: url(../images/hero_imagev5blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.toc-desc-container{
    background-color: #00000093;
    width: 100%;
    max-height: 400px;
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    padding-top: 1rem !important;
}

.toc-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    width: auto;
    border: none;
}

.toc-btn a{
    font-size: 0.9rem;
    font-weight: 600;
}

.toc-btn:hover{
    background-color: #aa2f31 !important;
    transition: background-color .2s ease;
    cursor: pointer;
}

.btn-brown:hover{
    background-color: #705931 !important;
}

.btn-green:hover{
    background-color: #196654 !important;
}
/* END OF TOC */

/* RENTALS */
.rentals-heading-container{
    height: 56px;
    background-color: red;
}

.rentals-img{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    background: url(../images/hero_imagev5blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rentals-img h5{
    font-weight: 600;
}

.rentals-img p{
    font-weight: 400;
}

.rent-for{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #cf474a;
}

.rent-for p{
    font-weight: 600;
}

.rentals-big{
    height: 500px !important;
}

.rentals-big-h-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    background-color: #cf4749c2;
    clip-path: polygon(0 35%, 100% 10%, 100% 100%, 0% 100%);
}

.big-brown{
    background-color: #836c46c2 !important;
}

.big-green{
    background-color: #25856ec2 !important;
}

.rentals-btn-cont .toc-btn{
    
    background-color: transparent;
    border: 2px solid white;
}

.rentals-btn-cont .toc-btn:hover{
    cursor: pointer;
    background-color: white !important;
}

.rentals-btn-cont .toc-btn:hover a{
    color: black !important;
    text-shadow: none;
}

/* END OF RENTALS */

/* CTA */
.cta-btn-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta-btn-cont .toc-btn{
    width: 90%;
    border: 2px solid white;
}

.cta-btn-cont > .toc-btn > a{
    color: black !important;
    text-shadow: none;
}

.cta-btn-cont > .toc-btn:hover{
    border: solid 2px white;
    cursor: pointer;
    background-color: transparent !important;
    
}

.cta-btn-cont > .toc-btn:hover > a{
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1) !important;
}

/* END OF CTA */

/* FOOTER */
.footer{
    background-color: #0D1215;
}

@media only screen and (min-width:0px) and (max-width:992px) {

    .toc-container{
        height: auto !important;
    }

    .sub-cta-text-cont{
        padding-bottom: 2rem !important;
    }

    .cta-btn-cont{
        justify-content: center;
        padding-top: 2rem !important;
    }

    .cta-btn-cont .toc-btn{
        width: 100%;
    }

    /* NAV */
    .nav-sec-items-cont{
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-items-cont{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .down-arrow{
        margin-left: 2px !important;
        font-size: 0.9rem;
    }
    
    .ham-cont{
        display: flex;
        justify-content: flex-end;
    }

    .navigation-items{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .header>.navbar>.nav-items-cont>.nav-sec-items-cont>.navigation-items>ul>li{
        display: block;
        padding: 18px 0px !important;
        border-bottom: 1px solid rgba(205, 205, 205, 0.048);
        display: block !important;
    }

    .header>.navbar>.nav-items-cont>.nav-sec-items-cont>.navigation-items>ul>li>a{
        font-size: 1.1rem;
        padding: 0 !important;
        
    }
    .header>.navbar>.nav-items-cont>.nav-sec-items-cont>.navigation-items>ul{
        width: 100%;
    }

    .nav-search{
        max-width: 100%;
        margin: 0 !important;
    }

    .nav-search > form > input{
        height: auto !important;
        padding: 0.5rem 1rem !important;
        font-size: 1.1rem !important;
    }
    
    .nav-search > form > button{
        padding: 0.5rem !important;
        width: 30%;
        font-size: 1.1rem !important;
    }

    
}

@media only screen and (max-width:576px) {
    h1{
        font-size:calc(20px + 3vw);
    }
    h4{
        font-size:calc(18px + 0.7vw);
    }
    h5{
        font-size:calc(16px + 0.7vw);
    }
    p,a{
        /* font-size: 2.7vw; */
        font-size:calc(12px + 0.7vw);
    }

    .nav-left>ul>li>a{
        font-size:calc(12px + 0.7vw) !important;
    }

    .nav-right>ul>li>a{
        font-size:calc(12px + 0.7vw) !important;
    }

    .nav-sec-items-cont>.navigation-items > ul > li > a{
        font-size: 3vw;
    }

    .toc-btn a{
        font-size:calc(16px + 0.7vw);
    }

    .rentals-heading-container .toc-btn a{
        font-size:calc(12px + 0.7vw);
    }

    .cta-btn-cont{
        padding: 2rem !important;
    }

    .nav-search > form > input{
        font-size:calc(12px + 0.7vw) !important;
    }
    
    .nav-search > form > button{
        font-size:calc(12px + 0.7vw) !important;
    }

    /* FOOTER */
    .footer > .navbar >.nav-sec-items-cont> .navigation-items > ul > li{
        margin-bottom: 0.7rem !important;
    }


}


